@import '../../variables.scss';

.megaMenu {
  width: 100%;
  height: auto;
  transition: opacity 300ms;
  background-color: $white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-column-count: 4;
  -webkit-column-gap: 2rem;
  -moz-column-count: 4;
  -moz-column-gap: 2rem;
  column-count: 4;
  column-gap: 2rem;
  padding: 1rem 2rem;
  gap: 2rem;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  scrollbar-width: thin;
  scrollbar-color: $acc-clr $black; /* scroll thumb and track */

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $acc-clr;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    break-inside: avoid;
    margin-bottom: 1rem;

    h5 {
      font-weight: bold;
      font-size: 0.9rem;
      color: $black;
      display: block;
    }

    li a {
      font-size: 0.9rem;
      color: $text-clr-black;
      display: block;

      &:hover {
        text-decoration: underline;
        color: $acc-clr;
      }
    }
  }
}
