@import '../variables.scss';

.showcase {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 350px 1fr;
  gap: 2rem;
  margin-top: 1rem;

  @media only screen and (max-width: 1450px) {
    grid-template-columns: 400px auto 1fr;
    gap: 1rem;
  }

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 400px auto;
    grid-template-areas:
      'a b'
      'a c';
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'a'
      'b'
      'c';
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 350px) {
    gap: 2rem;
  }
}
