@import '../variables.scss';

.slider {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  @media only screen and (max-width: 1000px) {
    grid-area: a;
  }

  @media only screen and (max-width: 750px) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: 350px) {
    padding: 0;
  }

  .imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $acc-clr;
      padding: 0.4rem;
      font-size: 0.8rem;
      border-radius: 3px;
      color: $text-clr-white;
      font-weight: 600;
    }

    img {
      width: 100%;
      height: 450px;
      object-fit: contain;
    }
  }

  .btnsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
      width: 70px;
      height: 70px;
      padding: 0.2rem;
      border: 1px solid transparent;
      border-radius: 5px;

      &.active {
        border-color: $acc-clr;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
