@import '../../variables.scss';

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 5px 10px;
    border: 1px solid $acc-clr;
    font-size: 1rem;
    color: $acc-clr;
    border-radius: 3px;

    &.active {
      background-color: $acc-clr;
      color: $text-clr-white;
    }
  }

  .pages {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
