@import '../../variables.scss';

$border-clr: rgb(207, 207, 207);

.reviews {
  width: 100%;
  background-color: $white;
  position: relative;
}

.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0.5rem;

  @media only screen and (max-width: 1450px) {
    max-width: 1100px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-bottom: 1px solid $border-clr;

    @media only screen and (max-width: 950px) {
      border-bottom: none;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 500;
      padding-bottom: 1rem;

      @media only screen and (max-width: 950px) {
        padding-bottom: 0;
      }
    }

    button {
      padding: 0.5rem 1rem;
      background-color: $acc-clr;
      border-radius: 3px;
      color: $text-clr-white;
      display: none;

      @media only screen and (max-width: 950px) {
        display: flex;
      }
    }
  }
}
