@import '../../variables.scss';

.return {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid $border-clr;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    h3 {
      color: $acc-clr;
      font-weight: 600;
    }

    button {
      padding: 5px 10px;
      border: 1px solid $acc-clr;
      border-radius: 3px;
      color: $acc-clr;
      font-size: 0.9rem;
      font-weight: 500;
      transition: color 300ms, background-color 300ms;

      &:hover {
        background-color: $acc-clr;
        color: $text-clr-white;
      }
    }
  }

  .returnInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-size: 0.9rem;
      font-weight: 500;

      &:last-of-type span {
        color: green;
        text-transform: capitalize;
      }
    }
  }
}
