@import '../../variables.scss';

.product {
  width: 100%;
  border-bottom: 1px solid $border-clr;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  img {
    display: block;
    width: 100px;
    height: auto;

    @media only screen and (max-width: 600px) {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .productInfo {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;

    h4 {
      width: 100%;
      font-weight: 500;
      font-size: 0.9rem;

      a {
        color: $acc-clr;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      width: 100%;

      button {
        font-size: 1.5rem;
        color: grey;
        padding: 0 2px;

        &.active {
          color: $star-clr;
        }
      }

      p {
        font-size: 0.9rem;
        font-weight: 600;
        margin-left: 0.5rem;

        @media only screen and (max-width: 350px) {
          display: none;
        }
      }
    }
  }

  .priceing {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
    font-size: 0.9rem;

    @media only screen and (max-width: 600px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    p:first-of-type {
      font-weight: 600;
    }

    p:last-of-type {
      font-weight: 400;
    }
  }
}
