@import '../../variables.scss';

.navLinks {
  background: #0082e6;
  background: -webkit-linear-gradient(
    left,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
  background: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );

  @media only screen and (max-width: 800px) {
    display: none;
  }

  .center {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: 1450px) {
      max-width: 1100px;
    }

    li {
      position: relative;
    }

    & > li:last-of-type {
      margin-left: auto;
    }

    li a {
      display: block;

      color: $text-clr-white;
      text-transform: capitalize;
      font-size: 0.9rem;
      padding: 0.5rem;
      transition: color 300ms;
      border: 1px solid transparent;
      border-radius: 20px;
      position: relative;

      &:hover {
        border: 1px solid $text-clr-white;
      }
    }

    li button {
      text-transform: capitalize;
      font-size: 0.9rem;
      padding: 0.5rem;
      background-color: $white;
      color: $text-clr-black;
      border-radius: 10px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 15px;
        bottom: -6px;
        left: 0;
        background-color: $white;
        transition: 300ms;
        transform: scaleY(0);

        &:hover {
          border-color: transparent;
        }
      }

      &.active::before {
        transform: scaleY(1);
      }
    }
  }
}
