@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-clr: #f2f2f7;
$acc-clr: #0082e6;
$acc-clr-2: #ff1d25;
$acc-clr-3: rgb(64, 64, 243);
$white: white;
$black: black;
$text-clr-black: rgb(20, 20, 20);
$text-clr-white: rgb(240, 240, 240);
$font-1: 'Montserrat', sans-serif;
$star-clr: orange;
$checkmark-clr: green;
$border-clr: rgba(207, 207, 207, 0.5);
